/* General styles */
@import url('https://fonts.googleapis.com/css?family=Atkinson Hyperlegible');

body {

    font-family: Atkinson Hyperlegible;
    font-size: 16px;
    line-height: 1.5;
    background-color: #219EBC;
    color: #FFFF;

}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    color: #FFFF;
}

/* Links */
a {
    color: #FFB703;
    text-decoration: none;
}

a:hover {
    color: #FFB703;
    text-decoration: underline;
}

/* Tables */
table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #023047;
}

/* Images */


header {
    height: 300px;

    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2%;
    overflow: hidden;

}

header img {

    position: relative;
    margin: 0;
    padding: 0;
    background: #fff;
    width: 70vw;
    height: 50vh;
    margin-top: 200px;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;

}

header:hover img {
    margin-top: 0;
}


#pfp {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 5%;
}

#logo {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 5%;
    position: relative;
}

form {
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ABD8ED;
    border: 1px solid #023047;
    border-radius: 5px;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
    color: #023047;
}

input,
textarea {
    width: 95%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #023047;
    border-radius: 5px;
    font-size: 16px;
    resize: vertical;
}

input[type="submit"] {
    background-color: #FB8500;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    vertical-align: top;
}

.gallery {
    display: flex;
    margin: 10px auto;
    max-width: 600px;
    position: relative;
    padding-top: 66.6666666667%;
}

@media screen and (min-width: 600px) {
    .gallery {
        padding-top: 400px;
    }
}

.gallery__img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    height: 55vh;

}

.gallery__thumb {
    padding-top: 6px;
    margin: 6px;
    display: block;
    width: 20vw;
    height: 20vh;

}

.gallery__selector {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.gallery__selector:checked+.gallery__img {
    opacity: 1;
}

.gallery__selector:checked~.gallery__thumb>img {
    box-shadow: 0 0 0 3px #0be2f6;
}

.styled-button {
    background-color: #4CAF50;
    /* Green background */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* Add shadow */
    border: 2px solid #4CAF50;
    /* Add outline with the same color as the background for a subtle effect */
    outline: 3px solid #FFFFFF;
    /* Additional outline to create a contrast, optional */
    transition: all 0.3s ease;
    /* Smooth transition for hover effects */
}

.styled-button:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    /* Darker shadow on hover */
    background-color: #45a049;
    /* Slightly darker green on hover */
}

.styled-button span {
    display: block;
    /* Ensure spans are displayed in block mode to respect the <br> */
}